# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [69]:
df = pd.DataFrame({'item_price': chipo['item_price'].values}, index=[chipo['item_name'].values])
df

                                      item_price
Chips and Fresh Tomato Salsa              $2.39
Izze                                      $3.39
Nantucket Nectar                          $3.39
Chips and Tomatillo-Green Chili Salsa     $2.39
Chicken Bowl                             $16.98
...                                          ...
Steak Burrito                            $11.75
Steak Burrito                            $11.75
Chicken Salad Bowl                       $11.25
Chicken Salad Bowl                        $8.75
Chicken Salad Bowl                        $8.75

[4622 rows x 1 columns]

In [53]:
#Transformar a coluna do preço para o formato certo
#Criar uma lista com os nomes de produtos
#para cada i presente na lista de produtos criada
#se df.loc[i, item_price] >= 10:



#se o dataframe.loc[i]>=10:
#print nome do produto

In [83]:
lista = chipo['item_name'].value_counts().index

df.loc['Chicken Bowl', 'item_price']

Chicken Bowl    $16.98
Chicken Bowl    $10.98
Chicken Bowl    $11.25
Chicken Bowl     $8.75
Chicken Bowl     $8.49
                 ...
Chicken Bowl    $11.25
Chicken Bowl     $8.75
Chicken Bowl     $8.75
Chicken Bowl     $8.75
Chicken Bowl     $8.75
Name: item_price, Length: 726, dtype: object

In [ ]:
#Aparentemente, ta valendo mais a pena seguir com o chipo
#Trocar os valores da coluna p formato certo
#fazer dataframe novo = chipo.loc[chipo[item_price]>10.0]
#printar dataframe novo
#eu conto o value counts para saber os produtos que são diferentes ne e ai é isso

In [ ]:
df = pd.DataFrace({'item_name'})

In [ ]:
#Quero criar um dataframe com os índices normais padrão
#Só vai ter duas colunas que são os labels produto e preço

#Fazer o value_counts para obter o nome de cada produto existente pedindo indice (.index)
#Obtendo uma lista de produtos, eu vou percorrer essa lista com o contador i 
#O i vai entrar no chipo.loc para 
#Preciso alterar o valor da coluna do dataframa passando para int
#Vou fazer um dataframe[dataframe>10]

In [85]:
suave = chipo.loc[chipo['item_name']=='Izze']
suave['item_name'].value_counts()

Izze    20
Name: item_name, dtype: int64

In [51]:
suave.loc[suave['choice_description']=='[Clementine]']

      order_id  quantity item_name choice_description item_price
1            1         1      Izze       [Clementine]     $3.39
579        237         1      Izze       [Clementine]     $3.39
1059       436         1      Izze       [Clementine]     $3.39
1213       495         1      Izze       [Clementine]     $3.39
1680       680         1      Izze       [Clementine]     $3.39
2088       842         1      Izze       [Clementine]     $3.39
2619      1040         1      Izze       [Clementine]     $3.39
2634      1046         1      Izze       [Clementine]     $3.39

In [95]:
len(chipo['item_name'].value_counts().index)

50

In [ ]:
#Aparentemente, ta valendo mais a pena seguir com o chipo 
#Trocar os valores da coluna p formato certo

#fazer dataframe novo = chipo.loc[chipo[item_price]>10.0]
#printar dataframe novo
#eu conto o value counts para saber os produtos que são diferentes ne e ai é isso

In [86]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: str(x).replace('$','')).astype('float64')

In [96]:
dataframe_novo1 = chipo.loc[chipo['quantity']==1]
dataframe_novo2 = dataframe_novo1.loc[dataframe_novo1['item_price']>10.0]
dataframe_novo2

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

In [99]:
dataframe_novo2['item_name'].value_counts()

Chicken Bowl             271
Chicken Burrito          178
Steak Burrito            123
Steak Bowl                86
Veggie Bowl               45
Chicken Salad Bowl        41
Veggie Burrito            36
Carnitas Bowl             30
Barbacoa Bowl             27
Chicken Soft Tacos        25
Barbacoa Burrito          24
Carnitas Burrito          19
Steak Salad Bowl          17
Chicken Crispy Tacos      15
Steak Crispy Tacos        11
Veggie Salad Bowl         10
Steak Soft Tacos           9
Barbacoa Soft Tacos        8
Barbacoa Salad Bowl        5
Barbacoa Crispy Tacos      4
Carnitas Salad Bowl        4
Carnitas Soft Tacos        3
Carnitas Crispy Tacos      2
Chicken Salad              2
Veggie Soft Tacos          2
Name: item_name, dtype: int64

In [97]:
len(dataframe_novo2['item_name'].value_counts().index)

25

In [98]:
dataframe_novo2['item_name'].value_counts().shape[0]

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered?

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?